@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wine Inquiry</h1>
    <p class="lead">Wine Inquiry is an application to help wine store employees to search their inventory and create personalized lists of wines for serving their customers better</p>
    <img src="https://images.pexels.com/photos/5877/red-couple-night-romantic.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Alternate Text" width="1020" height="680"/>
</div>

